SENDGRID_API_KEY = "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"
JWT_SECRET = "EMuupiG3R3i5dyJYjLJOZQHzyHeHocvTA8"
PORT = 5000
ENV = "DEV"
MONGODB_USER = "admin"
MONGODB_PASS = "Admin12345"
MONGODB_SERVER = "cluster0.tqhwf.mongodb.net"
WEATHER_API_KEY = "c91bd96ebe122705a372d920d2f5148f"
AWS_ACCESS_KEY_ID = "AKIAW2WKHFMLDSKRSGUK"
AWS_SECRET_KEY = "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"
AWS_BUCKET_NAME = "novinski-portal"
AWS_BUCKET_REGION= "eu-central-1"

